<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>

<form name="updateUserPassword" id="updateUserPassword" valid-submit="changePassword()" novalidate>
  <div class="modal-body">
    <div class="container-fluid" >
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Change Password for: {{userDataUpdate.fname}} {{userDataUpdate.lname}} ({{userDataUpdate.email}})</label>
              <input type="text" id="newPassword" placeholder="Password" class="form-control" ng-model="newPassword" ng-maxlength="50" ng-minlength="5" maxlength="50" ng-change="changeElement(newPassword)" validate-blur-forza="Change Password, New Password" ng-pattern="/^[\x00-\x7F]+$/" required/>
          </div>        
        </div>  
    </div>
  </div>  
  <div style="clear:both" class="modal-footer mt20">
    <button class="btn btn-primary" type="submit">OK</button>
    <!--<button class="btn btn-primary" type="submit">Save</button>-->
    <a class="btn btn-default-alt" ng-click="cancel()">Cancel</a>
  </div>

</form>
