<div class="modal-header">
    <h3 class="modal-title">DNI Instructions</h3>
</div>
<div class="modal-body">    
    <div class="container-fluid">
        <div class="quote" style="max-height:500px;overflow-y:scroll;border-radius:6px;-moz-border-radius:6px;">
		<div class="quote-l">
		<div class="quote-r">
		<p>Installation Instructions</p>
		<p>===================================Step 1==============================</p>
		<p>Paste the following code into the &lt;head&gt; section of the web page where
		you want to display dynamic numbers.</p>
		<pre id="jsCode">
<p>&lt;!-- Convirza Script Begins --&gt;</p>
&lt;script defer src=&quot;https://{{ dniHost }}/dni.js?app_id=CT&quot; &gt; &lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
function dniLoadingTimer() { 
	if (typeof(getDNIRecord) == &quot;function&quot;) {
		getDNIRecord(&quot;{{ dni_code }}&quot;, &quot;{{ dniHost }}&quot;);
	} else {
		setTimeout(dniLoadingTimer, 100); 
	} 
} 
setTimeout(dniLoadingTimer, 100); 
&lt;/script&gt;
<p>&lt;!-- Convirza Script Ends --&gt;</p>
		</pre>
		<p>===================================Step 2==============================</p>
		<p>Paste the HTML code into the &lt;body&gt; of the web pages where you want to<br />
		display dynamic numbers on your web site. If you are combining source and url<br />
		dni into one element, include both class ids into a single element.<br />
		For example: &lt;span class="myClass lmc_track"&gt;</p>
		<p ng-repeat="dni in dni_settings">HTML code for {{ dni.destination_url }} ==> &lt;span class="{{ dni.dni_element }}"&gt;Default Phone Number Here&lt;/span&gt;</p>
		<p>===================================Step 3==============================</p>
		<p>If using URL-based DNI, copy and paste the parameters below and add them to URLs linking to your <br />
		host domain. For example</p>
		<p><b>http://www.website.com/page.html?lmc_track=8886663456</b></p>
		</div></div></div>
            <div style="clear:both" class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()">Close</button>
            </div>    
        </form>        
    </div>  
</div>
