<link rel="stylesheet" type="text/css" href="assets/css/jquery.flipster.css">
<style>

</style>
											<div class="modal-header">
												<h3 class="modal-title">Select an Email Template</h3>
											</div>
											<div class="modal-body">
												<div class="container-fluid" >
													<div class="row">
														<div class="col-xs-12">
															<div class="flipster">
																<ul>
		  	<li>
																		<div>
																		<img src="img/email-temp-left1.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-left2.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-left3.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-center.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-right1.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-right2.png">
																		</div>
																	</li>
		  	<li>
																		<div>
																		<img src="img/email-temp-right3.png">
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>	
											</div>
											<div style="clear:both" class="modal-footer">
												<button class="btn btn-primary" ng-click="ok()">Save</button>
												<button class="btn btn-default" ng-click="cancel()">Cancel</button>
											</div>

<script src="../js/jquery.flipster.js"></script>
<script>
<!--

	$(function(){ 
		$(".flipster").flipster({
			style: 'coverflow'
		});
	});

-->
</script>