<style >
    .panel{
        margin: 0 0 0px
    }
</style>
<div class="panel panel-midnightblue">
    <page-loader is-loading-api="isLoadingApi"></page-loader>
    <div class="modal-header panel-heading">
        <h3 class="modal-title modaltitle" >Caller ID Blocked for Groups</h3>
        <button type="button" ng-click="$dismiss();" class="close pull-right" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body modalbody panel-body" >
        <div class="container-fluid">
            <p> These are the groups for which Caller ID ({{callerId}}) is blocked. If your group is not listed, please add the number again if you wish to block it for your group.</p><br/>
            <div class="row">
                <div class="col-md-4 col-lg-4" ng-repeat-start="group in groups track by $index">
                    <label class="containerNew" style="padding-left: 10%!important;" title="{{ group }}">
                        {{ group | truncate_campGroupName }}
                    </label>
                </div>
                <div ng-repeat-end ng-if="($index+4) % 3 == 0" class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer text-right">
    <button class="btn btn-sm btn-primary pull-right" ng-click="$dismiss();" class="accordion-toggle">Close</button>
</div>
    