<style type="text/css">#page-content{background-color:#575757;}</style>
<div class="verticalcenter" ng-controller="LoginController">
	<a href="#/"><div class="brand login-logo" id="login_logo"></div></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Forgot Password Recovery</h4>

			<div class="alert alert-success alert-dismissable pull-right" style="margin-right:10px;width:90%;" ng-class="{'alert-success': true, 'alert-dismissable': closeable}"
				 role="alert" type="success" close="closeAlert($index)" ng-show="show_success">
				<!--<button type="button" class="close" ng-click="closeSuccess()">× Close</button>-->
				<div><strong>Successful!</strong> Check your e-mail for your temporary password</div>
			</div>
			<div class="alert alert-danger alert-dismissable pull-right" style="margin-right:10px;width:90%;" ng-class="{'alert-danger': true, 'alert-dismissable': closeable}"
				 role="alert" type="danger" close="closeAlert($index)" ng-show="show_fail">
				<!--<button type="button" class="close" ng-click="closeFail()">× Close</button>-->
				<div><strong>Error!</strong> {{error}}. Please enter your e-mail</div>
			</div>

			<form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="email">
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="panel-footer">
			<div class="pull-left">
				<a href="#/login" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
			</div>
			<div class="pull-right" ng-hide="hide_next">
				<a href="#/forgotpassword" class="btn btn-success" ng-click="recoverPass(email)">Next <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
 </div>
