		<div id="page-heading">
			<!--<ol class="breadcrumb">
				<li><a href="#/">Dashboard</a></li>
				<li>Extras</li>
			</ol>-->

			<h1>Notifications</h1>
			<div class="options">
                <div class="btn-toolbar">
                    <!--<div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            Export as <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>-->
                </div>
            </div>
		</div>
		<div class="container-fluid">


			
            
            <div class="row">
				<div class="col-md-12">
					<div class="panel panel-midnightblue">
						<div class="panel-heading">
							<h4>Notify Me When . . .</h4>
							<div class="options">
						
							</div>
						</div>
						<div class="panel-body">
                        	<h4>Users</h4>
                            <hr>
                        	<div class="row mb20">
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a new user is added.
                                      </label>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a user is deleted.
                                      </label>
                                    </div>
                                </div> 
                            </div>
                            
                            <h4>Campaigns</h4>
                            <hr>
							<div class="row ">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        48 hours before a campaign is scheduled to start or end.
                                      </label>
                                    </div>
                                </div> 
                            
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        an active campaign has not received any calls in the last 24 hours.
                                      </label>
                                    </div>
                                </div> 
                            </div>
                            <div class="row ">
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox" >
                                        a new campaign is created.
                                      </label>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a campaign is edited.
                                      </label>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a campaign is deleted.
                                      </label>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-3">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a campaign is assigned to me.
                                      </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                      <label>
                                        <input  icheck type="checkbox">
                                        a new call flow is created.
                                      </label>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                    	<label>
                                        	<input  icheck type="checkbox">
                                      	</label>
                                    	webhook 
                                      <select ng-init="notifications.triggerWebhook=option[0]" ng-model="notifications.triggerWebhook" style="display:inline;width:auto;" class="form-control" id="source" >
                                                <option value="" disabled="disabled">-- Select --</option>
                                                <option value="webhook1">Webhook 1</option>
                                                <option value="webhook2">Webhook 2</option>
                                                <option value="webhook3">Webhook 3</option>
                                        </select>
                                        has been triggered.
                                    </div>
                                </div> 
                            </div>
                            
                                                       
						</div>
					</div>
				</div>
			</div>


			



		</div> <!-- container -->
