<style>
.relatedflows{list-style:none;float:left;}
li.relatedflows:after {content: ", "; margin-right:10px;}
li.relatedflows:last-child:after {content: "";}
.gable:hover{
display:block;
cursor:pointer;
}
</style>
<div id="page-heading">
    <h1>Webhook Builder</h1>
    <div class="options">
		<div class="btn-toolbar">
			<a href="#/set-webhook" class="btn btn-default hidden-xs" title="Webhook List"><i class="fa fa-chevron-left"></i> <i class="fa fa-list"></i></a>
		</div>
	</div>
</div>
<div class="container-fluid" ng-controller="WebhookBuilderController">

    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid" >
				<form name="webhookForm" id="webhookForm" valid-submit="setWebhook()" novalidate>
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>Webhook Details</h4>
                            <panel-controls>
                                <!--  <a href="javascript: void(0);" class="activate">Active
                                    <input ng-model="webhook_active" icheck type="checkbox" ng-checked="webhook_active" ng-disabled="!canModify"></i>
                                </a> -->
                                <!-- <a href="javascript:;" class="activate">Active <i class="fa fa-check-square"></i></a> -->
                                <!--<a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>-->
                            </panel-controls>
                    	</div>
                        <div class="panel-body collapse in">
                            <div class="form-group row">
                            	<div class="col-lg-1 col-md-2 mt10">
                                    <label class="control-label" style="padding-top:8px;">Active?</label>
                                    <div class="">
                                        <toggle-switch ng-model="webhook_status" on-label="Yes" off-label="No" class="primary switch"><toggle-switch>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 mt20">
                                    <label class="control-label">Webhook Name</label>
                                    <div class="">
                                        <input type="text" placeholder="New Webhook" class="form-control" ng-model="webhook_name" maxlength="50" onbeforesave="validateData($data,'Webhook Name')"
                                               required validate-utf-eight validate-blur-forza="Webhook Details, Webhook Name" >
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mt20">
                                    <label class="control-label">Description</label>
                                    <div class="">
                                        <textarea class="form-control" style="resize:vertical;" ng-model="webhook_desc" maxlength="128" onbeforesave="validateData($data,'Webhook Description')"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mt20">
                                    <label class="control-label">Related Tracking Numbers</label>
                                    <div class="">
                                        <ul>
                                            <li class="relatedflows" ng-repeat="route in routes">{{route.provisioned_route_name}}
                                            	<!--<a href="{{route.provisioned_route_id}}" class="btn btn-default-alt btn-sm">{{route.provisioned_route_name}}</a>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>



                                <div class="col-lg-6 col-md-12 mt20 mb10">
                                    <label class="control-label">End Point URL</label>
                                    <div class="">
                                        <input type="text" class="form-control" placeholder="http://example.com" ng-model="target_url" maxlength="2083" name="target_url" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" required validate-blur-forza="Webhook Details, Webhook Endpoint" >
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 mt20"><label>Method</label>
                                    <div class="">
                                        <select style="" class="form-control" id="webhook-method" name="http_method" ng-model="http_method" onbeforesave="validateData($data,'Method')" required validate-blur-forza="Webhook Details, Method"
                                                onChange="ga('send', 'event', 'Form Event', 'Webhook Method', this.options[this.selectedIndex].value);">
                                            <option selected disabled value=""> -- Select a Method-- </option>
                                            <option value="POST">Post</option>
                                            <!--option value="GET">Get</option-->
                                            <option value="PUT">Put</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 mt20"><label>Format</label>
                                    <div class="">
                                        <select class="form-control" id="webhook-format" name="response_format" ng-model="response_format" onbeforesave="validateData($data,'Format')" required validate-blur-forza="Webhook Details, Format"
                                                onChange="ga('send', 'event', 'Form Event', 'Webhook Format', this.options[this.selectedIndex].value);">
                                                <option selected disabled value=""> -- Select a Format-- </option>
                                                <option value="JSON">JSON</option>
                                                <option value="XML">Legacy XML</option>
												<option value="XML_NEW">XML</option>
                                                <option value="FORM-URLENCODED">FORM-URL ENCODED</option>
                                                <!-- If there are NO lists created, then display this option -->
                                                <!--<option selected disabled value=""> -- Create a List-- </option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-4 col-sm-6 mt20"><label>Post-call only options</label>
                                    <div class="">
                                      <div class="checkbox" style="margin-top:0;" ng-show="append_active">
                                         <input  icheck type="checkbox" name="include_data_append" ng-model="data_append" value="true">
                                           Include Data Append
                                      </div>
                                      <div class="checkbox" style="margin-top:0;">
                                        <input  icheck type="checkbox" name="include_score" ng-model="include_score" value="true">
                                          Include Indicator Scores
                                     </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 mt20"><label>Pre & Post-call Option</label>
                                    <div class="">
                                      <div class="checkbox" style="margin-top:0;">
                                         <input  icheck type="checkbox" name="include_dni" ng-model="include_dni" value="true">
                                           Include DNI logs
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">

                        <button class="btn btn-primary" ng-disabled="webhookForm.$invalid && submitted || formSubmit" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Save Webhook'});">Save</button>
                    </div>
                    </div>
            	</form>
        	</div>

            <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-midnightblue" ng-show="!isNewWebhook">
                            <div class="panel-heading">
                                <h4>Static Parameters</h4>
                                <!--<panel-controls>
                                        <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                        <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
                                    </panel-controls>-->
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed  table-striped">
                                	<thead>
                                        <tr style="font-weight: bold">
                                            <th style="width:40%">Field Name</td>
                                            <th style="width:40%">Static Value</td>
                                            <th class="text-right">Actions</td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="stat in static">
                                        <td style="width:40%;word-break: break-word;">
                                            <span editable-text="stat.field_name" e-name="field_name" onbeforesave="validateStaticData($data,'Field Name')" e-ng-model="field_name"
                                                                    e-form="rowform" e-remove-error-blur e-required e-maxlength="250" e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                                                {{stat.field_name}}
                                            </span>
                                        </td>
                                        <td style="width:40%;word-break: break-word;">
                                            <span editable-text="stat.field_value" e-remove-error-blur onbeforesave="validateStaticData($data,'Static Value')" e-name="field_value" e-ng-model="field_value"
                                                                    e-form="rowform" e-required e-maxlength="250" e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                                                {{stat.field_value}}
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <form editable-form name="rowform" onbeforesave="setStatic($data, stat.webhook_map_id)" ng-show="rowform.$visible"
                                                  class="form-buttons form-inline" shown="inserted == stat">
                                                <button type="submit" ng-disabled="rowform.$waiting || disError" class="btn btn-sm btn-primary">
                                                    Save
                                                </button>
                                                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelStatic($index, stat.webhook_map_id, rowform)" class="btn btn-sm btn-default">
                                                    Cancel
                                                </button>
                                            </form>
                                            <div class="buttons" ng-show="!rowform.$visible">
                                                <button class="btn btn-sm btn-primary" ng-click="rowform.$show()" ng-disabled="disEdit">Edit</button>
                                                <button class="btn btn-sm btn-danger" ng-click="removeStatic($index, stat.webhook_map_id)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="white-space: nowrap">
                                            <form editable-form name="rowform"  class="form-buttons form-inline" >
                                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">Save</button>
                                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">Cancel</button>
                                            </form>
                                            <div class="buttons">
                                              <button class="btn btn-sm btn-danger" ng-click="removeNumber(pnumber)" ng-show="canModify">Delete</button>
                                            </div>
                                        </td>
                                    </tr> -->
                                </table>
                              <div style="">
                                  <button class="btn btn-default"  ng-click="addStatic()" ng-disabled="dupSubmit">Add Parameter</button>
                              </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary pull-right" ng-disabled="!target_url" ng-click="testWebhook()">Test Webhook</button>
                                <div class="alert alert-success alert-dismissable pull-right" style="margin-right:20px;width:40%;" ng-class="{'alert-success': true, 'alert-dismissable': closeable}" role="alert" type="success" close="closeAlert($index)" ng-show="static_success">
                                <div><strong>Webhook test successful</strong> </div>
                                <button type="button" class="close gable" ng-click="closeSuccess()"aria-label="close" >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                
                            </div>
                            <div class="alert alert-danger alert-dismissible   pull-right" style="margin-right:20px;width:40%;" ng-class="{'alert-danger': true, 'alert-dismissable': closeable}" role="alert" type="danger" close="closeAlert($index)" ng-show="static_fail">
                                <div><strong>Webhook test unsuccessful. Please try again.</strong> </div>
                                <button type="button" class="close gable" ng-click="closeFail()" aria-label="close" >
                                 <span aria-hidden="true">&times;</span>
                                </button>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

</div>
<!-- container -->
