<style>
.relatedflows{list-style:none;float:left;}
li.relatedflows:after {content: ", "; margin-right:10px;}
li.relatedflows:last-child:after {content: "";}
</style>
<div ng-controller="WebhookController">
    <div id="page-heading">
        <h1>Webhooks</h1>
        <div class="options">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Webhooks are a modern inter-application communication method used to send information in near real-time to third-party web service end-points. Webhooks are simply an HTTP POST triggered by a call condition that occurs from a phone call. The data can be delivered via JSON or URL parameter/value pairs.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt10" style="padding:0 20px;">
            <div class="well well-sm clearfix">
                <a href="#/set-webhook-builder" class="btn btn-sm btn-default" ng-disabled="isLoadingApi"> <i class="fa fa-plus-circle"></i> Add Webhook</a>&nbsp;
                <div class="btn-group" uib-dropdown >
                    <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle ng-disabled="isLoadingApi || dataTableValues.length === 0">
                        <span>Export</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-hide='isSafari'  ><a ng-csv='getCSVData()' filename='csv_webhooks.csv' csv-header='csvHeaderNames'>Excel/CSV</a></li>
                        <li ng-hide='isSafari' ><a ng-csv='getCSVData()' filename='tsv_webhooks.tsv' csv-header='csvHeaderNames' field-separator="\t">TSV</a></li>
                        <li ng-hide='!isSafari' ><a ng-click='getCSVData("csv")' >Excel/CSV</a></li>
                        <li ng-hide='!isSafari' ><a ng-click='getCSVData("tsv")'>TSV</a></li>
                        <!--li><a ng-click="exportPDF()">PDF</a></li-->
                        <!-- <li><a download="xls_webhooks.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportXls', 'Sheet', 'textright');">Excel</a></li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="pdfExportGroup">
                <panel panel-class="panel-midnightblue" data-heading="">
                	<div class="table-responsive" sticky-table-header3>
                     <page-loader is-loading-api="isLoadingApi"></page-loader>
                    	<table class="table table-striped table-hover" id="exportXls">
                        <thead>
                            <tr style="margin-top: 40px; margin-left: 0px;">
                                <th>{{headerNames.name}}</th>
                                <th>{{headerNames.related_call_flows}}</th>
                                <th>{{headerNames.status}}</th>
                                <th class="text-right">{{headerNames.actions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="hooks.length < 1" class="noDataSelector" colspan="18" style="border-top: 1px solid rgb(233, 236, 240);">No Data Found</td>
                            </tr>
                            <tr ng-repeat="hook in hooks | orderBy: 'webhook_name'">
                                <td>{{hook.webhook_name}}</td>
                                <td>{{hook.provisioned_route_name}}</td>
                                <td class="text-capitalize">{{hook.webhook_status}}</td>
                                <td class="text-right" style="white-space: nowrap">
                                    <div class="buttons">
                                        <button class="btn btn-sm btn-primary" ng-click="editWebhook(hook.webhook_id)">Edit</button>
                                        <button class="btn btn-sm btn-danger" ng-click="deleteWebhook(hook)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- <div ng-controller="buttonLink">
                         left empty for now
                    </div> -->
                </panel>
            </div>
        </div>
    </div>
</div>
<!-- container -->
