<div id="page-heading">
    <h1>Dynamic Number Insertion</h1>
    <div class="options" ng-controller="DNIController">
        <div class="btn-toolbar">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        <i class="fa fa-cloud-download"></i> <span class="hidden-sm hidden-xs">Export as</span> <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-hide='isSafari'><a ng-csv='getCSVData()' filename='csv_dni.csv' csv-header='csvHeaderNames'>Excel/CSV</a></li>
                    <li ng-hide='isSafari'><a ng-csv='getCSVData()' filename='tsv_dni.tsv' csv-header='csvHeaderNames' field-separator="\t">TSV</a></li>
                    <li ng-hide='!isSafari'><a ng-click='getCSVData("csv")'>Excel/CSV</a></li>
                    <li ng-hide='!isSafari'><a ng-click='getCSVData("tsv")'>TSV</a></li>

                    <!-- <li><a dropdown-toggle ng-click='getExcelData()' >Excel</a></li> -->

                    <!-- <li><a ng-csv='getCSVData()' filename='xls_dni.xls' csv-header='csvHeaderNames' >Excel</a></li> -->
                    <!--li><a ng-click="exportPDF()">PDF</a></li-->
                    <!--<li><a download="xls_dni.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportXls', 'Sheet');">Excel</a></li>-->
                </ul>
            </div>
            <!--<a href="#" class="btn btn-default"><i class="fa fa-envelope-o"></i></a>-->
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="DNIController" id="pdfExportGroup">
    <page-loader is-loading-api="isLoadingApi"></page-loader>
    <div class="row">
        <div class="col-md-6">
            <p>Dynamic Number Insertion (DNI) allows you to dynamically display phone numbers on your web pages based on either a parameter included in a referring URL (URL-based DNI), a referring website (Source-based DNI) or website visitor session (Session-based
                DNI). Click "Copy Code" to view instruction for installing dynamic numbers on your website.
                <span ng-if="disable_share_dni">This DNI code snippet is shared by all sub-Groups below {{share_group_name}}.</span>
            </p>
            <p><b>New DNI settings are created when setting up a Tracking Number.</b></p>
        </div>
        <div class="col-md-6">
            <label class="control-label">Capture Custom Cookies and URL Parameters: <br/> <span style="font-size:9px;">(Capture	your own or	a third	party platform's custom	collection of URL parameters or	cookie data associated with	a web visitor)</span></label>
            <div class="" ng-form name="dni_form">
                <textarea class="form-control" name="custom_params" ng-model="custom_params" validate-blur-forza="DNI Settings, Custom Parameters" ng-pattern="/^[0-9a-zA-Z-_\[\] ,-]+$/" ng-change="paramSaveDisabled = false" style="resize:vertical;"></textarea>
            </div>
            <p>Separated by commas</p>
            <div class="text-right" ng-init="paramSaveDisabled = true">
                <button class="btn btn-sm btn-primary" ng-disabled="paramSaveDisabled || dni_form.custom_params.$invalid" ng-click="saveParams();">Save</button>
            </div>
        </div>
    </div>



    <div class="row mt20">
        <div class="col-md-12">
            <div class="panel panel-midnightblue">
                <div class="panel-heading" title="{{ currentOUName }}">
                    <h4>DNI for {{ currentOUName  | truncate_campGroupName }}</h4>
                    <div class="options">

                    </div>
                </div>
                <div class="panel-body table-responsive" sticky-table-header3>
                    <table class="table table-striped table-hover table-condensed" id="exportXls">
                        <thead>
                            <tr style="margin-top: 55px; margin-left: 15px;">
                                <th ng-repeat="th in dniHeaders">{{th}}</th>
                                <th width="70" ng-repeat="th in ttlHeader">{{th}}</th>
                                <th class="text-right" ng-repeat="th in actionHeader">{{th}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dni in dni_settings">
                                <td>
                                    <span editable-text="dni.destination_url" e-name="destination_url" onbeforesave="validateDniData($data, 'Host Domain',true, $index)" e-ng-pattern="/^[a-z0-9\*]+([\-\.]{1}[a-z0-9\*]+)*\.[a-z\*]{1,5}(:[0-9]{1,5})?(\/.*)?$/i" e-ng-model="destination_url"
                                        e-form="rowform" e-required e-maxlength="35" e-validate-blur-forza="DNI Settings, Host Domain">
                                          {{ dni.destination_url }}
                                        </span>
                                </td>
                                <td>
                                    <span ng-hide="dni_settings_show_referrer[dni.dni_setting_id]">
                                            <span editable-select="dni.referrer" e-name="referrer" e-form="rowform" e-ng-options="g.value as g.text for g in referrer" e-ng-change="changeReferrer($data, dni.dni_setting_id,$index)">
                                              {{ showReferrer(dni,$index) }}
                                            </span>
                                    </span>
                                    <span ng-show="dni_settings_show_referrer[dni.dni_setting_id]">
                                            <span editable-text="dni.referrer" e-id="reffererText{{$index}}" onbeforesave="validateDniData($data, 'Referring Website', dni_settings_show_referrer[dni.dni_setting_id], $index)" e-name="referrer" e-ng-model="referrer" e-form="rowform" e-required="dni_settings_show_referrer[dni.dni_setting_id]" e-maxlength="35" e-validate-utf-eight e-ng-blur="changeReferrer($data, dni.dni_setting_id,$index)">
                                                {{ showReferrer(dni,$index) }}
                                            </span>
                                    </span>
                                    <!-- editable status (select-local) -->
                                </td>
                                <td>
                                    <!-- editable status (select-local) -->
                                    <span editable-select="dni.dni_type" onbeforesave="validateDniData($data, 'DNI Type',true, $index)" e-name="dni_type" e-form="rowform" e-ng-options="g.id as g.text for g in dni_type[$index]">
                                          {{ showDniType(dni, $index) }}
                                        </span>
                                </td>
                                <td>
                                    <span editable-text="dni.dni_element" onbeforesave="validateDniData($data, 'Class',true, $index)" e-name="dni_element" e-ng-model="dni_element" e-form="rowform" e-required e-maxlength="35" e-validate-utf-eight e-validate-blur-forza="DNI Settings, Class">
                                          {{ dni.dni_element }}
                                        </span>
                                </td>
                                <td title="{{dni.campaign_name}}">
                                    {{ dni.campaign_name | truncate_campGroupName }}
                                </td>
                                <td withinput-mask>
                                    {{ dni.provisioned_route_name }} | {{ dni.number }}

                                </td>

                                <td>
                                    <span ng-show="showTtl[$index]">
                                        	<span editable-number="dni.dni_ttl"
                                                e-min="0" e-max="999999" e-name="dni_ttl" onbeforesave="validateDniData($data, 'TTL',true, $index)" e-number-only e-ng-model="dni_ttl" e-form="rowform" e-required
                                                                                                        e-maxlength="35"
                                                                                                        e-validate-utf-eight>
                                              {{ dni.dni_ttl }}
                                            </span>
                                    </span>
                                </td>
                                <td class="text-right" style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveDNISettings($data, dni.dni_setting_id, dni.provisioned_route_id, $index, rowform)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == dni">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
                                            Save
                                          </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelEdit(dni.dni_setting_id, $index, rowform)" class="btn btn-sm btn-default">
                                            Cancel
                                          </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-sm btn-primary" ng-disabled="dni.is_referral" ng-click="editDni(dni.dni_setting_id,$index,rowform)">Edit</button>
                                        <button class="btn btn-sm btn-danger" ng-disabled="dni.is_referral" ng-click="removeDNI($index, dni.dni_setting_id)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row col-xs-12">
                        <button class="btn btn-info" style="float:right;" ng-click="getCode('lg')">Copy Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>







</div>
<!-- container -->