		<div id="page-heading">
			<!--<ol class="breadcrumb">
				<li><a href="#/">Dashboard</a></li>
				<li>Extras</li>
			</ol>-->

			<h1>Alerts</h1>
			<div class="options">
                <div class="btn-toolbar">
                    <!--<div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            Export as <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>-->
                </div>
            </div>
		</div>
		<div class="container-fluid">



			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-midnightblue">
						<div class="panel-heading">
							<h4>Alert Me When . . .</h4>
							<div class="options">
						
							</div>
						</div>
						<div class="panel-body">
                        	<div class="row mt10">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <div class="checkbox">
                                      
                                        <input  icheck type="checkbox">
                                        I am within 10% of my minute threshold for my subscription.
                                      
                                    </div>
                                </div>
                            </div>
							<div class="row mt20">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <div class="checkbox">
                                      
                                        <input  icheck type="checkbox">
                                        my call volume is  
                                        <input style="display:inline;width:40px;" class="form-control ng-valid-number" ng-maxlength="2" maxlength="2" min="0">
                                        percent 
                                        <select style="width:auto;display:inline;" class="form-control">
                                             <option value="above">Above</option>
                                             <option value="below">Below</option>
                                        </select>
                                        my call volume average for the previous week.
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="row mt20">    
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <div class="checkbox">
                                      
                                        <input  icheck type="checkbox">
                                        my conversion rate for channel
                                        <select ng-init="selectedCallFlow.channel = options[0]" class="form-control" id="source" style="width:auto;display:inline;">
													<option ng-selected="true" disabled value=""> -- Select -- </option>
                                                <!--option ng-repeat="c in channels" ng-bind="c.sub_category" ng-options= value="{{ c.sub_category }}"></option-->
                                            
                                            <!--label>Selected Items:</label-->
                                    <!--ul>
                                        <div ng-bind="callFlowChannels.category"></div>
                                    </ul-->
                                                <optgroup label="Online">
                                                    <option value="1">Paid Search</option>
                                                    <option value="2">Organic Search</option>
                                                    <option value="3">Display</option>
                                                    <option value="4">Email</option>
                                                    <option value="Online: Social Media">Social Media</option>
                                                    <option value="Online: Other">Other</option>
                                                </optgroup>
                                                <optgroup label="Mobile">
                                                    <option value="7">Paid Search</option>
                                                    <option value="8">Organic Search</option>
                                                    <option value="Display">Display</option>
                                                    <option value="SMS">SMS</option>
                                                    <option value="Apps">Apps</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                                <optgroup label="Offline">
                                                    <option value="5">Direct Mail</option>
                                                    <option value="6">Magazine</option>
                                                    <option value="Outdoor">Outdoor</option>
                                                    <option value="Radio">Radio</option>
                                                    <option value="TV">TV</option>
                                                    <option value="Insert">Insert</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                            </select>
                                        
                                        is 
                                        <input style="display:inline;width:40px;" class="form-control ng-valid-number" ng-maxlength="2" maxlength="2" min="0">
                                        percent 
                                        <select style="width:auto;display:inline;" class="form-control">
                                             <option value="above">Above</option>
                                             <option value="below">Below</option>
                                        </select>
                                        my conversion rate for the previous week <br>
                                        <a class="btn btn-default btn-sm" style="margin-top:10px;" >Add another channel alert<i class="fa fa-plus-circle" style="margin-left:5px;"></i></a>
                                      
                                    </div>
                                </div> 
                            </div>
                            <div class="row mt20">    
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <div class="checkbox">
                                      
                                        <input  icheck type="checkbox">
                                        my average lead score for channel
                                        <select ng-init="selectedCallFlow.channel = options[0]" class="form-control" id="source" style="width:auto;display:inline;">
													<option ng-selected="true" disabled value=""> -- Select -- </option>
                                                <!--option ng-repeat="c in channels" ng-bind="c.sub_category" ng-options= value="{{ c.sub_category }}"></option-->
                                            
                                            <!--label>Selected Items:</label-->
                                    <!--ul>
                                        <div ng-bind="callFlowChannels.category"></div>
                                    </ul-->
                                                <optgroup label="Online">
                                                    <option value="1">Paid Search</option>
                                                    <option value="2">Organic Search</option>
                                                    <option value="3">Display</option>
                                                    <option value="4">Email</option>
                                                    <option value="Online: Social Media">Social Media</option>
                                                    <option value="Online: Other">Other</option>
                                                </optgroup>
                                                <optgroup label="Mobile">
                                                    <option value="7">Paid Search</option>
                                                    <option value="8">Organic Search</option>
                                                    <option value="Display">Display</option>
                                                    <option value="SMS">SMS</option>
                                                    <option value="Apps">Apps</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                                <optgroup label="Offline">
                                                    <option value="5">Direct Mail</option>
                                                    <option value="6">Magazine</option>
                                                    <option value="Outdoor">Outdoor</option>
                                                    <option value="Radio">Radio</option>
                                                    <option value="TV">TV</option>
                                                    <option value="Insert">Insert</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                            </select>
                                        
                                        is 
                                        <input style="display:inline;width:40px;" class="form-control ng-valid-number" ng-maxlength="2" maxlength="2" min="0">
                                        percent 
                                        <select style="width:auto;display:inline;" class="form-control">
                                             <option value="above">Above</option>
                                             <option value="below">Below</option>
                                        </select>
                                        my average lead score for the previous week <br>
                                        <a class="btn btn-default btn-sm" style="margin-top:10px;" >Add another channel alert<i class="fa fa-plus-circle" style="margin-left:5px;"></i></a>
                                      
                                    </div>
                                </div> 
                            </div>
						</div>
					</div>
				</div>
			</div>




		</div> <!-- container -->
