<style>
.modal-xlg{
   width:1200px;
}
.addexport, .addexport:active, .addexport:focus, .addexport:hover, .open>.dropdown-toggle.addexport,.addexport:disabled{
    color: #FFFFFF;
    background-color: #929598;
    border-color: #929598;
    border-radius: 3px !important;
}

.addexport:hover {
    color: #FFFFFF;
    background-color: #737477;
    border-color: #737477;
       
    }

    .shorten-word{
    word-break: break-all;
}

.btn-default:hover {
    color: #FFFFFF;
}
.hoverblackcolor{
    color: #656b79;
    background-color: #e9ecf0;
    border-color: #e9ecf0;
}
.hoverblackcolor:hover{
    color: #3d414a;
    background-color: #cbd2db;
    border-color: #c5cdd7;
}
.bootbox-confirm {
  z-index:1065;
}

</style>

<div id="page-heading">
        <h1>GeoRoute Locations</h1>
        <div class="options">
            <div class="btn-toolbar">

            </div>
        </div>
    </div>
	<div class="container-fluid">
<!-- Location Lists. This will show when user first opens the modal. -->
		<div class="container-fluid" ng-controller="GeoRouteTableController" >
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-midnightblue">
						<div class="panel-heading">
							<h4>Location Lists</h4>
							<div class="options">
							</div>
						</div>
                            <div class="panel-body">
                            	<div class="row mb20">
                                    <div class="col-xs-12">
                                        <button class="btn btn-sm btn-default btn-primary" ng-click="addGeoList(); resizeWindow();" ng-disabled="canModify || dupGeoLocation"> <i class="fa fa-plus-circle"></i> Add GeoRoute List</button>
                                        <label class="control-label" style="color:#aaaaaa !important;margin-left: 2%" >Add a location list then edit them to add locations to each list. IVR can be configured at individual location when a location is added to the list.</label>
                                    </div>
                                </div>
                                
                                <div class="table-responsive" sticky-table-header3>
                                  <page-loader is-loading-api="isLoadingApi"></page-loader>
                                    <table id="table_geo_route" class="table table-striped table-hover table-condensed">
                                        <thead>
                                          <tr style="font-weight: bold; margin-top: 40px;">
                                              <th ng-repeat="th in geoRouteHeaders">{{th}}</th>
                                              <th class="text-right" ng-repeat="th in actionHeader">{{th}}</th>
                                            </tr>
                                        </thead>
                                        <tr ng-if="totalDataRows <= 0">
                                            <td class="noDataSelector" colspan='18'>No Data Found</td>
                                        </tr>
                                        <tr ng-repeat="geolocation in georoutelocations">
                                          <!-- <td> -->
                                            <!-- editable username (text with validation) -->
        <!--                                     <span text="geolocation.id" e-name="id"  e-ng-model="id" e-form="rowform" e-required onbeforesave="validateData($data,'Geolocation')"
                                                                                                            e-maxlength="35"
                                                                                                            e-validate-utf-eight
                                                                                                            e-validate-blur-forza="Locations List, First Name">
                                              {{ geolocation.id || '' }}
                                            </span> -->
                                          <!-- </td> -->
                                          <td>
                                            <!-- editable username (text with validation) -->
                                            <span editable-text="geolocation.name" e-name="name"  e-ng-model="name" e-form="rowform" e-required onbeforesave="validateData($data,'Geolocation')"
                                                                                                            e-maxlength="35"
                                                                                                            e-validate-utf-eight
                                                                                                            e-validate-blur-forza="Locations List, Name"
                                                                                                            e-ng-change="enableGeoSave()"
                                                                                                            e-ng-keyup="enableGeoSave()">
                                              {{ geolocation.name || '' }}
                                            </span>
                                          </td>
                                          <td>
                                            <!-- editable username (text with validation) -->
                                            <span number="geolocation.num_loc" e-ng-model="num_loc" e-name="num_loc" e-form="rowform" e-required >
                                              {{ geolocation.num_loc || 0 }}
                                            </span>
                                          </td>
                                          <td>
                                            <!-- editable username (text with validation) -->
                                            <span text="geolocation.created" e-ng-model="created" e-name="created" e-form="rowform">
                                              {{ geolocation.created || '' }}
                                            </span>
                                          </td>
                                          <td>
                                            <!-- editable group (select-remote) -->
                                            <span text="geolocation.modified" e-ng-model="modified" e-name="modified" e-form="rowform">
                                              {{ geolocation.modified || '' }}
                                            </span>
                                          </td>

                                          <td class="text-right" style="white-space: nowrap">
                                            <!-- form -->
                                            <form editable-form name="rowform" onbeforesave="saveGeoList($data, geolocation.id)" ng-show="rowform.$visible"
                          class="form-buttons form-inline" shown="inserted == geolocation">
                                              <button type="submit" ng-disabled="rowform.$waiting || disGeoError" class="btn btn-sm btn-primary" ng-click="resizeWindow();">
                                                Save
                                              </button>
                                              <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelGeoAdd($index, geolocation.id,rowform); resizeWindow();" class="btn btn-sm btn-default">
                                                Cancel
                                              </button>
                                            </form>
                                            <div class="buttons" ng-show="!rowform.$visible">
                                              <button class="btn btn-sm btn-primary" ng-click="rowform.$show(); resizeWindow();" ng-disabled="disEdit">Edit</button>
                                              <button class="btn btn-sm btn-primary-alt" ng-click="editGeoLocations($index,geolocation.id); resizeWindow();" ng-disabled="disEdit">Locations</button>
                                              <button class="btn btn-sm btn-danger" ng-click="removeGeoList($index, geolocation.id); resizeWindow();" ng-disabled="canModify || disEdit">Delete</button>
                                            </div>
                                          </td>
                                        </tr>
                                    </table>
                              	</div>
                            </div>
                        <div class="panel-footer" style="text-align:right;">
                        	<!--<button class="btn btn-primary" ng-click="ok()">Done</button>
    						<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
                        </div>
					</div>
				</div>
			</div>

<!-- End Location Lists -->

<!-- Location Editor. This will only show after the user has clicked the Add button or the Edit Button from the Location List table -->

			<div class="row" ng-show="isEdit" id="locationeditor">
				<div class="col-md-12">
					<div class="panel panel-midnightblue">
						<div class="panel-heading">
							<h4 ng-model="headerName">Location Editor for {{headerName}}</h4>
							<div class="options">
							</div>
						</div>
						<div class="panel-body">
<!-- Location Editor explainer text and search function. This will ONLY show after the user has clicked the Add button or the Edit Button from the Location List table -->
							<div class="row mb20">
								<div class="col-xs-8">
                                    <label class="control-label"> Add individual locations to a location list or enter many locations quickly with the bulk import option. As calls come in, they are automatically routed to the location that meets specified criteria. If the call cannot be auto-routed, a voice prompt will ask caller to enter the Zip/Postal code or select from a list of stores. Claimed Zip/Postal Code is an optional field to be used for 'Zip/Postal Code Claimed' Geo Routing and Claimed States/Provinces is another optional field to be used for 'States/Provinces Claimed' Geo Routing.</label>
								</div>
								<div class="col-xs-4">
									<div class="input-group">
										<input placeholder="Search..." class="form-control" ng-model="search" ng-keyup="removeNewLocation(rowform)">
										<div class="input-group-btn">
												<button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</div>
              </div>
              <div class="form-group">
                  <a class="btn  btn-default btn-primary" ng-click="addLocation()" ng-disabled="canModify || dupSubmit"> <i class="fa fa-plus-circle"></i> Add Location</a>
                  <button class="btn  btn-default addexport" ng-disabled="canModify || dupSubmit" ng-csv='downloadGeoData()' filename="{{headerName}}.csv" csv-header='getExportHeader()'><i class="fa fa-cloud-download"></i> Export</button>
                  <button  class="btn  btn-default addexport" ng-file-select="" ng-model="files" accept=".csv" ng-hide="files"><i class= "fa fa-cloud-upload"></i> Import</button>
                  <button class="btn  hoverblackcolor" ng-disabled="canModify || dupSubmit" ng-csv='downloadTemplate()' filename="GeoTemplate.csv" csv-header='getHeader()' >Download Template</button>
                  <label style="color:#aaaaaa ;margin-left: 5px"> IVR configurations cannot be imported or exported.</label>
                  <dir-pagination-controls ng-show ="locations.length > 0" class="pull-right" pagination-id="pg-locations"  on-page-change="pageChanged(newPageNumber)">
                  </dir-pagination-controls>
                </div>
					<!-- End Location Editor explainer text and search function -->
					<div class="row">
						<div class="col-xs-12 table-responsive" sticky-table-header3>
							<table class="table table-striped table-hover table-condensed table-responsive">
								<thead>
									<tr style="margin-top: 40px; margin-left: 10px;">
                    <th ng-repeat="th in locationHeaders">{{th}}</th>
                    <th class="text-right" ng-repeat="th in actionHeader">{{th}}</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="location1 in locations | itemsPerPage: 100 | filter:search:strict track by $index"  total-items="totalDataRows" current-page="currentPage" pagination-id="pg-locations">
										<td>
											<span editable-text="location1.location" e-name="location" e-ng-model="location" e-placeholder="Location Required" e-form="rowform" e-required e-maxlength="50" e-validate-utf-eight onbeforesave="validateData($data,'Location')"
                                                                                                    e-maxlength="35"
                                                                                                    e-validate-utf-eight
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
													{{ location1.location || '' }}
											</span>
										</td>
										<td>
											<span editable-text="location1.address" e-name="address" e-ng-model="address" e-placeholder="Address Required" e-form="rowform" e-required e-maxlength="50" e-validate-utf-eight onbeforesave="validateData($data,'Address')"
                                                                                                    e-maxlength="50"
                                                                                                    e-validate-utf-eight
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                        {{ location1.address || '' }}
                      </span>
										</td>
                    					<td style="height: 33px;width: 88px;">
											<span editable-text="location1.city" e-name="city"  e-form="rowform" e-placeholder="City Required" e-required onbeforesave="validateData($data,'City')"
                                                                                                    e-maxlength="50"
                                                                                                    e-ng-pattern="/^[a-zA-Z0-9 ]+$/"
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                        {{ location1.city || '' }}
                      </span>
                                        </td>
                                        <td>
											<span editable-text="location1.state" e-name="state"  e-form="rowform" e-placeholder="State/Province Required" e-required onbeforesave="validateData($data,'State')"
                                                                                                    e-maxlength="2"
                                                                                                    e-validate-utf-eight
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                        {{ location1.state || '' }}
                      </span>
                                        </td>
                                        <td>
											<span editable-text="location1.zip" e-name="zip"  e-form="rowform" e-placeholder="Zip/Postal Code Required" e-required e-ng-maxlength="16" e-maxlength="16" onbeforesave="validateData($data,'Zip')" e-remove-error-blur e-ng-change="enableSave()" e-ng-keyup="enableSave()">
                        {{ location1.zip || '' }}
                      </span>
                                        </td>
                                        <td style="min-width: 120px">
<!--                                                                   <span editable-text="location1.phone" e-form="rowform" ng-bind-html="location1.phone | filter:search"  e-maskinput e-ng-pattern="/^[0-9-() ]+$/" e-data-inputmask="'mask':'(999) 999-9999'" e-max="15">
                                                                 {{ location1.phone|| '' }}
                                </span>     -->
                      <span editable-text="location1.phone" e-name="phone" e-form="rowform" onbeforesave="validateData($data,'Phone')"
                                                                                                            e-maskinput
                                                                                                            e-data-inputmask="'mask':'(999) 999-9999'"
                                                                                                    e-max="15"
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                                      {{ location1.phone || '' | tel }}
                                    </span>
                                        </td>
                      					<td>
                      <span editable-text="location1.clamiedStates" e-name="clamiedStates"  e-form="rowform" e-placeholder="Optional" 
                                                                                                    e-maxlength="2000"
                                                                                                    e-validate-utf-eight
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                        {{ location1.clamiedStates || '' }}
                      </span>
                                        </td>
                      					<td>
											<span editable-text="location1.claimed" e-name="claimed" e-form="rowform" e-placeholder="Optional"
                                                                                                    e-maxlength="2000"
                                                                                                    e-validate-utf-eight
                                                                                                    e-remove-error-blur
                                                                                                    e-ng-change="enableSave()"
                                                                                                    e-ng-keyup="enableSave()">
                                                      {{ location1.claimed || '' }}
                                                    </span>

                                      	</td>
										<td class="text-right" style="white-space: nowrap">
											<form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="saveLocation($data, location1.id, location1.location_ivr_route_id,rowform)"
                                                    class="form-buttons form-inline" shown="inserted == location1">
                                                      <button type="submit" ng-disabled="isSaved || rowform.$waiting || disError" class="btn btn-sm btn-primary" >
                                                        Save
                                                      </button>
                                                      <button type="button" ng-disabled="rowform.$waiting" ng-click="cancellocationAdd($index, location1.id,rowform)"  class="btn btn-sm btn-default">
                                                        Cancel
                                                      </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-sm btn-midnightblue" ng-click="locIVROptions(location1.id,location1.location_ivr_route_id,location1.location)" ng-show="ivrButton" ng-disabled="canModify || disableAddIvrBtn ">{{location1.location_ivr_route_id ? 'Edit IVR':'Add IVR'}}</button>
														<button class="btn btn-sm btn-primary" ng-click="rowform.$show()" ng-disabled="canModify || disEditLocation">Edit</button>
														<button class="btn btn-sm btn-danger" ng-click="removeLocation($index,location1.id)" ng-disabled="canModify || disableDelLocation">Delete</button>
                                                    </div>
										</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                  <dir-pagination-controls ng-show ="locations.length > 15" class="pull-right" pagination-id="pg-locations"  on-page-change="pageChanged(newPageNumber)">
                                  </dir-pagination-controls>
                                 <!--<select ui-select id="source" validate-blur-forza="Call Flow Details, Channel"  ng-model="addedlocation" ng-options="savedloc.location for savedloc in savedlocations" required validate-blur-forza="Call Flows, Channel" required ng-change="addLocation(addedlocation)" >
                                    <option selected disabled value=""> -- Select -- </option>
                                     <option  value="0"> Create Location </option>
                                        <option ng-repeat="c in channels" ng-bind="c.sub_category" ng-options= value="{{ c.sub_category }}"></option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary" ng-click="ok()" ng-disabled="canModify">Done</button>
                        <!-- <div class="form-group"> -->
                           <!-- <input type="file" id="filecontrol" accept=".csv" ng-file-select ng-model="upload.files"/><br> -->

                           <!-- <div ng-hide="percentage == '100'">
                               <div class="progress progress-striped progress-success active" ng-show="percentage">
                                <div class="progress-bar" style="width: {{percentage}}%;"></div>
                               </div>
                           </div><br> -->
                            <!-- <button class="btn btn-sm btn-primary" ng-click="uploadFile(files)" >Upload</button> -->
                           <!-- </div> -->
                        <button class="btn  btn-success pull-left" style="margin-right:4px;" ng-click="uploadFile(files)" ng-hide="!files" ng-disabled="canModify || fileIsUploading">Upload {{files[0].name}}</button>
                        <button  class="btn btn-info pull-left" ng-click="cancelUploading()" style="margin-right:4px;" ng-hide="!files">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Location Editor Table -->

	</div> <!-- container -->
