<style>
    .usageareas{list-style:none;float:left;}
    li.usageareas:after {content: ", "; margin-right:10px;}
    li.usageareas:last-child:after {content: "";}
	#_pendo-badge_fUt8T8lMmLzaBghc1cNu7VvveYc{
		z-index: 3;
	}
</style>
<div ng-controller="distributionListController">
    <div id="page-heading">
    	<h1>Legacy Distribution Lists</h1>
    	<div class="options">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt10" style="padding:0 20px;">
            <div class="well well-sm clearfix">
             <a ng-click="openDistributionListModal('lg')" ng-disabled="isLoadingApi" class="btn btn-sm btn-default"> <i class="fa fa-plus-circle"></i> Add New List</a>&nbsp;
                <div class="btn-group" uib-dropdown >
                    <button type="button" class="btn btn-sm btn-default btn-last" uib-dropdown-toggle ng-disabled="isLoadingApi || distributionList.length <= 0">
                      <span>Export as </span> <span class="caret"></span>
                     </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-hide='isSafari'><a ng-csv='getCSVData()' filename='csv_distribution_list.csv' csv-header='headerNames'>Excel/CSV</a></li>
                        <li ng-hide='isSafari' ><a ng-csv='getCSVData()' filename='tsv_distribution_list.tsv' csv-header='headerNames' field-separator="\t">TSV</a></li>
                        <li ng-hide='!isSafari' ><a ng-click='getCSVData("csv")' >Excel/CSV</a></li>
                        <li ng-hide='!isSafari' ><a ng-click='getCSVData("tsv")' >TSV</a></li>

                        <!--li><a ng-click="exportPDF()">PDF</a></li-->
                        <!-- <li><a dropdown-toggle ng-click='getExcelData()' >Excel</a></li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<div>
    				<div class="container-fluid">
    					<div class="row">
    						<div class="col-md-12">
    							<div class="panel panel-midnightblue">
                    <div class="panel-body no-border" disable-all="disabled">
                      <div class="table-responsive">
    									<div class="table-responsive" sticky-table-header3>
                     <page-loader is-loading-api="isLoadingApi"></page-loader>
                                            
	                      <table class="table table-striped table-hover" id="exportXls">
	                          <thead>
	                              <tr style="margin-top: 40px; margin-left: 0px;">
                                    <th ng-repeat="th in setDistHeaders">{{th}}</th>
                                    <th class="text-right" ng-repeat="th in actionHeader">{{th}}</th>
	                              </tr>
	                          </thead>
	                          <tbody>
				     <tr ng-if="distributionList.length < 1">
                                           <td class="noDataSelector" colspan='18'>No Data Found</td>
                                    </tr>
	                              <tr ng-repeat="list in distributionList">
	                                  <td>{{list.list_name}} <!-- This will have the name of the Distibution List that the user chose. --></td>
	                                  <td>
	                                      <span style="    white-space: pre-line;display: block;">{{list.report_name.trim()}}
	                                      </span>
	                                                 </td>
	                                  <td class="text-right" style="white-space: nowrap">
	                                      <div class="buttons" ng-hide="list.owner_user_id != userId && !isAdmin">
	                                          <button class="btn btn-sm btn-primary" ng-disabled="isModelOpened " ng-click="editDistributionList('lg', list.list_id)">Edit</button>
	                                          <button class="btn btn-sm btn-danger" ng-click="deleteDistributionList(list, $index)">Delete</button>
	                                      </div>
	                                  </td>
	                              </tr>
	                          </tbody>
	                      </table>
									    </div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
