<div ng-controller="SubscriptionController" jscrollpane="{autoReinitialise:true, autoReinitialiseDelay: 100}" style="height: 100%;padding-bottom:40px">
	<uib-accordion close-others="rightbarAccordionsShowOne">
		<uib-accordion-group is-open="rightbarAccordions[0].open" ng-class="{open:rightbarAccordions[0].open}">
			<uib-accordion-heading>Current Usage Summary</uib-accordion-heading>
				<div class="clearfix mb10">
					<div class="progress-title pull-left">Active/Total Campaigns</div>
					<div class="progress-percentage pull-right">{{campActive}}/{{campTotal}}</div>
				</div>
				<div class="uib-progress">
					<div class="progress-bar progress-bar-midnightblue" style="width: {{(campActive / campTotal) * 100 | number:0}}%"></div>
					<div class="progress-bar progress-bar-info" style="width: {{100 - (campActive / campTotal) * 100 | number:0}}%"></div>
				</div>
				<div class="clearfix mb10">
					<div class="progress-title pull-left">Active/Total Tracking Numbers</div>
					<div class="progress-percentage pull-right">{{trkNumActive}}/{{trkNumTotal}}</div>
				</div>
				<div class="uib-progress">
					<div class="progress-bar progress-bar-midnightblue" style="width: {{(trkNumActive / trkNumTotal) * 100 | number:0}}%"></div>
					<div class="progress-bar progress-bar-info" style="width: {{100 - (trkNumActive / trkNumTotal) * 100 | number:0}}%"></div>
				</div>
				<div class="clearfix mb10">
					<div class="progress-title pull-left">Minutes</div>
					<div class="progress-percentage pull-right">{{minUsedTotal}}</div>
				</div>
				<div class="clearfix mb10">
					<div class="progress-title pull-left">Users</div>
					<div class="progress-percentage pull-right">{{usrUsedTotal}}</div>
				</div>
				<!-- <div class="clearfix mb10">
					<div class="progress-title pull-left">Call Actions</div>
					<div class="progress-percentage pull-right">{callActionTotal}</div>
				</div> -->
				<!--<progressbar contextual="true" value="25" heading="Backend Development" type="info"></progressbar>
				<progressbar contextual="true" value="77" heading="Bug Fix" type="primary"></progressbar>
				<progressbar contextual="true" value="70" heading="Javascript Code" type="success"></progressbar>
				<progressbar contextual="true" value="55" heading="Preparing Documentation" type="danger"></progressbar>
				<progressbar contextual="true" value="25" heading="Mobile App" type="orange"></progressbar> 
				-->
		</uib-accordion-group>
		
		<uib-accordion-group is-open="rightbarAccordions[1].open" ng-class="{open:rightbarAccordions[1].open}">
			<uib-accordion-heading>Subscription Information</uib-accordion-heading>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Account Number:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.accountNumber}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Account Name:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.accountName}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Subscription Number:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.subscriptionNumber}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Subscription Name:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.subscriptionName}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Activation Date:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.activationDate}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Last Invoice Date:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.lastInvoiceDate}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Last Payment Date:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.lastPaymentDate}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Last Payment Amount:</div>
				<div class="progress-percentage pull-right">${{subscriptionInformation.lastPaymentAmount}}</div>
			</div>
			<div class="clearfix mb10">
				<div class="progress-title pull-left">Next Billing Date:</div>
				<div class="progress-percentage pull-right">{{subscriptionInformation.nextBillingDate}}</div>
			</div>
			<span style="clear:both;" class="more mt10"><a class="btn btn-default" href="#">Make Changes</a></span>
		</uib-accordion-group>
			
			<!--
			<accordion-group is-open="rightbarAccordions[2].open" ng-class="{open:rightbarAccordions[2].open}" id="chatbar">
				<accordion-heading>Billing History</accordion-heading>
				<div ng-repeat="item in billingHistory">
					<div class="clearfix">
						<div class="progress-title pull-left">Invoice: <a href="" ng-click="getInvoicePdfFile(item.file);">{{item.number}}</a> <br> Amt: ${{item.amount}}</div>
						<div class="progress-percentage pull-right">{{item.date}}</div>
					</div>
					<div class="mt10 mb10" style="border-bottom: 1px solid #e9ecf0;color: #656b79 !important;"></div>
				</div>
			</accordion-group>
			 -->
			
		<uib-accordion-group is-open="rightbarAccordions[3].open" ng-class="{open:rightbarAccordions[3].open}" ng-style="{ 'display' : billing_node }">
			<uib-accordion-heading>
			Customer Support Access
			</uib-accordion-heading>
			<div class="clearfix mb10">
				<label class="control-label" style="padding-top:8px;">Allow Customer Support access to your account?</label>
				<div class="">
					<toggle-switch on-label="Yes" off-label="No" class="primary switch" ng-model="allow_admin" ng-change="toggleAdmin(allow_admin)"><toggle-switch>
				</div>
			</div>
		</uib-accordion-group>
	</uib-accordion>
</div>